<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>My Saved AstroEvents</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<header>
		<h1>My Saved AstroEvents</h1>
	</header>

	<nav>
		<ul>
			<li><a href="#">Homepage</a></li>
			<li><a href="#">Saved Events</a></li>
			<li><a href="#">Local Events</a></li>
		</ul>
	</nav>

	

	<script src="script.js"></script>
</body>
</html>