.nasa-image {
  margin-bottom: 2rem;
  text-align: center;
}

.nasa-image img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* IE8 and below */
  max-width: 70%; /* Change this value to adjust the width of the image */
  display: block;
  margin: 0 auto;
}


.nasa-title {
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: normal;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .nasa-title {
    font-size: .75rem;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .nasa-title {
    font-size: 1rem;
  }
}

@media screen and (min-width: 993px) {
  .nasa-title {
    font-size: 1.5rem;
  }
}

.logo-image {
  width: 125px;
  height: 125px;
  margin: 25px
}

main.container {
  padding-top: 3rem;
}

form {
  margin: auto;
  max-width: 400px;
  padding: 1rem;
}

form input,
form button {
  margin-bottom: 1rem;
}

form button {
  margin-top: 1rem;
}


/************************************** 
Default page styles  
**************************************/

* {
  margin: 0;
  box-sizing: border-box;
}

h1
{
text-align: center;
font-weight: bold;  
}

h2
{
text-align: left;
font-weight: bold;
font-size:x-large;  
}

.Orbitron{
  font-family: 'Orbitron', sans-serif;
  font-weight: normal;
}
/************************************** 
Heading styles  
**************************************/
header {
  background-color: #1b1b1b;
  color: #fff;
  padding: 10px;
}

  #homeButton{
      text-decoration: none;
  }
  #homeButton:hover{
      background-color:lightblue;
  }
  #logoutButton{
      text-decoration: none;
  }
  #logoutButton:hover{
      background-color:lightblue;
  }

  #pageTitle {
    font-size: 3rem;
    font-weight: lighter;
  }
  

/************************************** 
Nav styles  
**************************************/
nav{
  font-size:smaller;
}
.nav-item{
  background-color:lightskyblue;
}
.nav-item:hover{
  background-color:darkgrey
}

/************************************** 
styles  
**************************************/




/************************************** 
footer styles  
**************************************/
footer {
  background-color: #1b1b1b;
  color: #fff;
  padding: 10px;
}

.footerText{
  font-family: 'Orbitron', sans-serif;
  font-size:smaller;

}