
#eventarea{
  background-color:lightslategrey;
  color:white;
}

.list-group-item{
  padding:0;
}
.list-group-item:hover{
  background-color: lightblue;
}
.img-thumbnail{
  width:200px;
  height:200px;
}



#zipcodeInput{
width:auto;
}
#eventDateInput{
  width:auto;
  }

#searchCityBtn, #clearCityBtn {
background-color:blue;
color:white;
width:100%

}
#searchEventButton {
background-color: lightgray;
text-align: center;
}
#searchEventButton:hover {
background-color:grey;
}

#stellarEventList{
  height:500px;
}
