
#eventarea{
  background-color:lightslategrey;
  color:white;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.list-group-item .float-right button {
  margin-right: 10px; 
}

.list-group-item span.float-right {
  display: flex;
  align-items: center;
}

.list-group-item .viewButton,
.list-group-item .saveButton,
.list-group-item .calendarButton {
  min-width: 40px; 
  margin-right: 10px; 
  font-size: 16px;
  flex-shrink: 0; 
}

.list-group-item:hover{
  background-color: lightblue;
}

.list-group-item .stellarEvent {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 150px);
}

.list-group {
  margin-top: 25px;
}

#stellarEventPhoto{
  visibility: hidden;
  display: none;
}

#stellarEventInfo{
  visibility: hidden;
  display: none;
}

#zipcodeInput{
width:auto;
}
#eventDateInput{
  width:auto;
  }
#searchForm{
  width:100%;
  height: 10px;
  visibility: hidden;
}
#searchEventButton {
background-color: lightgray;
text-align: center;
}

#searchEventButton:hover {
background-color:grey;
}

#stellarEventList{
  margin-top: 25px;
  font-size:large;
  max-width:100%;
  overflow: auto;
  max-height: calc(100vh - 250px);
}

#detailPhoto {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 400px;
  margin: 10px auto;
  display: block;
}

#detailInfo{
  margin: 10px auto;
  text-align: center;
}

#detailArea{
border: none;
padding:10px;
height:400px;
margin-bottom: 10px;
margin-top: 100px;
}

button {
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}

.custom-navbar {
  background-color: #1f1e1e;
  color: #fff;
  padding: 10px;
  font-family: 'Orbitron', sans-serif;
  margin-top: 20px;
}


.custom-navbar-nav {
  display: flex;
  justify-content: center;
  list-style-type: none; 
}

.custom-nav-item {
  margin-right: 10px;
}

.custom-nav-link {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2rem;
}

.custom-nav-link:hover {
  color: #007bff;
}