
#eventarea{
  background-color:lightslategrey;
  color:white;
}

.list-group-item{
  padding:0;
}
.list-group-item:hover{
  background-color: lightblue;
}

.list-group {
  color:purple;
}

#stellarEventPhoto{
  visibility: hidden;
  display: none;
}

#stellarEventInfo{
  visibility: hidden;
  display: none;
}

#zipcodeInput{
width:auto;
}
#eventDateInput{
  width:auto;
  }

#searchEventButton {
background-color: lightgray;
text-align: center;
}
#searchEventButton:hover {
background-color:grey;
}

#stellarEventList{
  height:500px;
}
#detailPhoto{
  width:100%;
  height:200px;
}
#detailInfo{
margin:3px;
}

#detailArea{
border:2px solid black;
padding:0px;
}
